# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
env/
ENV/
env.bak/
venv.bak/

# Arquivos de configuração do sistema
*.DS_Store
*.env
*.log

# Outros
*.egg-info/
*.egg
dist/
build/
*.db
*.sqlite3
