<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />
    
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- Responsive -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Fancybox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>A História do Creedence</title>
</head>
<body>
    <div class="historia-body">
        <h1 class="historia-h1">A História do Creedence</h1>
        <div class="historia-resumo">
            <h2 class="historia-h2">Por Marcelo Dilla</h2>
            <p>Em 1955, Tom Fogerty estava imerso na rotina da High School El Cerrito, quando seu irmão mais novo, John Fogerty, apenas quatro anos mais jovem, uniu-se a ele, junto com Stu Cook e Doug Clifford, também matriculados na mesma escola. Tom havia aprendido a tocar piano com sua mãe no início dos anos 50, coincidentemente quando emergia o icônico Rock 'n' Roll, com os primeiros grandes artistas, como Chuck Berry, Little Richard, Gene Vincent, Jerry Lee Lewis, Elvis Presley, entre outros. No entanto, tanto Tom quanto John nutriam a ambição de um dia constituírem uma banda de rock, haja vista que os riffs de guitarra de Chuck Berry cativavam de maneira inigualável o jovem John Fogerty.</p>
            <p>Até 1958, o quarteto de amigos tocava com intuito de se divertirem, conquanto visassem se tornar um conjunto reconhecido. Assim sendo, a concretização desse desejo de se tornarem de fato uma banda ocorreu em 1959, isto é, no auge da adolescência dos quatro e concomitante ao ápice da "pulsação do rock" na América do Norte. Desta forma, já em 1961, o grupo formaliza-se com a alcunha de "Tommy Fogerty & Blue Velvets", cujo papel de vocalista principal fica a cargo de Tom Fogerty. Assim, logo na sequência, o conjunto começou a se apresentar em sua escola e em algumas bases militares na área de San Francisco.</p>
            <p>Ao atingirem a maioridade, John, Stu e Doug profissionalizaram-se, adotando o nome "The Golliwogs". Em 1964, lançaram seu primeiro álbum, repleto de composições originais, em um cenário musical dominado pela "invasão britânica". Apesar do relativo fracasso comercial do disco, um executivo da gravadora demonstrou particular apreço pelas composições de John Fogerty, cujo timbre vocal evocava o autêntico R&B estadunidense, um estilo eclipsado pela ascensão do rock britânico.</p>
            <p>Assim, no final de 1967, em uma reunião entre o quarteto e os dirigentes da gravadora, decidiu-se que a banda deveria adotar um novo nome e que John Fogerty seria o vocalista principal — função que já desempenhava como guitarrista. O curioso nome "Creedence Clearwater Revival" surgiu nesse contexto, sendo um conjunto de elementos significativos da trajetória do grupo. "Creedence" foi uma homenagem de John ao seu amigo "Credence Nuvall", que trabalhava com ele em um posto de gasolina. O termo "Clearwater" foi extraído de um refrão publicitário de uma cerveja californiana. Já o "Revival" atendia à demanda da gravadora por uma revitalização do R&B e do verdadeiro rock americano.</p>
            <p>É importante ressaltar que o nome "Creedence", com dois "E", era inédito até então. Fogerty sugeriu a inclusão de "CREED" como uma expressão de crença de que tudo daria certo, como de fato ocorreu. Assim, em 1968, nasceu oficialmente uma das maiores e mais influentes bandas da história do rock.</p>
        </div>
    </div>    
    <!-- footer -->
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>Contato</h2>
                            <form id="contactForm" action="/enviar-email" method="POST" class="contact_bg">
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Nome" type="text" name="name" required>
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Email" type="email" name="email" required>
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Telefone" type="text" name="phone" required>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="textarea" placeholder="Mensagem" name="message" required></textarea>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <button type="submit" class="send">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="address">
                                <ul class="loca">
                                    <li>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='icon/call.png') }}" alt="#" />
                                        </a> Marcelo Dilla: (31) 99954-4512
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='icon/email.png') }}" alt="#" />
                                        </a> marcelo.dilla@hotmail.com
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="address">
                                <ul class="loca">
                                    <li>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='icon/call.png') }}" alt="#" />
                                        </a> Ruy Montenegro: (31) 99983-1084
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='icon/email.png') }}" alt="#" />
                                        </a> ruymontenegro@hotmail.com
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <ul class="social_link">
                        <li><a href="https://www.facebook.com/creedencecoverbh"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/creedence_cover_brasil/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p style="color: black; background-color: white; padding: 10px;">
                        A Banda Creedence Cover Brasil agradece a visita 
                        <img src="{{ url_for('static', filename='images/rock.png') }}" alt="Rock" style="width: 20px; height: auto;">
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- end footer -->
  <!-- Javascript files -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky-kit.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>


  <script>
    $(document).ready(function() {
      $('#contactForm').on('submit', function(event) {
        event.preventDefault(); // Impede o envio padrão do formulário

        $.ajax({
          type: 'POST',
          url: '/enviar-email',
          data: $(this).serialize(),
          success: function(response) {
            alert('Mensagem enviada com sucesso!');
            $('#contactForm')[0].reset(); // Limpa o formulário
          },
          error: function() {
            alert('Erro ao enviar a mensagem. Tente novamente.');
          }
        });
      });
    });
  </script>
</body>
</html>